{% extends 'base.html' %}
{% block style_sheet %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'others/slider.css' %}">
    <link rel="stylesheet" href="{% static 'others/file_upload/file_upload.css' %}">
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.3.7/jquery.datetimepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.3.7/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css">
    
    {% endblock style_sheet %}
{% block main_code %}
    <div class="container">
        <br>
        {% if message %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{message}}</strong> 
        </div>
        {% endif %}
            
        <form method="post" action="/add_task_form_handler/" enctype="multipart/form-data" >
            {% csrf_token %}
            <input type="hidden" name="description_content_hidden" id="description_content_hidden">
            <input type="hidden" name="batch_code_hidden" id="batch_code_hidden">
            <input type="hidden" name="class_code_hidden" id="class_code_hidden">
            <div class="form-group mb-3">
                <label for="exampleInputEmail1">Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="title"  placeholder="Enter Title">
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-4">
                    <input list="list_batch_name" id="batch_name" name="batch_name" class="form-control" placeholder="batch name" oninput="manage_batch_class_code()">
                    <datalist  id="list_batch_name" style="max-height: 25%;">
                        {% for curr_batch in request.user.all_batch_user_belongs.all %}
                            <option data-value="{{curr_batch.batch_code_teacher}}" value="{{curr_batch.name}}">Batch Code:{{curr_batch.batch_code_teacher}}</option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="col-4 offset-1">
                    <input list="list_class_name" id="class_name" name="class_name" class="form-control" placeholder="class name" disabled>
                    <datalist  id="list_class_name" style="max-height: 25%;">
                        <!--
                        {% for curr_batch in request.user.all_batch_user_belongs.all %}
                            <option data-value="{{curr_batch.batch_code_teacher}}" value="{{curr_batch.name}}">Batch Code:{{curr_batch.batch_code_teacher}}</option>
                        {% endfor %}
                        -->
                    </datalist>
                </div>
            </div>
            <div class="row mt-4 mb-1">
                <div class="col-9">
                    <div class="slidecontainer ">
                        <h6>Select stress level for task</h6>
                        <input type="range" min="1" max="30" value="5" class="slider" id="myRange" name="stress_level_task">
                        <p>Stress Level: <span id="demo"></span></p>
                    </div>
                </div>
            </div>
            <div class="row mt-0 mb-5">
                <div class="col-4">
                    <label for="start_task_time">Task Start Time</label>
                    <input type="text" name="start_task_time" id="start_task_time" placeholder="start time in yyyy/mm/dd hh:mm" class="form-control date_picker_class">
                </div>
                <div class="col-4 offset-1">
                    <label for="end_task_time">Time of Submission</label>
                    <input type="text" name="end_task_time" id="end_task_time" placeholder="submission time in yyyy/mm/dd hh:mm" class="form-control date_picker_class">
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <textarea id="myTextArea" class="mceEditor m-3" style="height: 50%;"> </textarea>
                </div>
                <div class="col-4">
                    <div class="file-uploader " >
                        <div class="file-uploader__message-area">
                          <p>Select a file to upload</p>
                        </div>
                        <div class="file-chooser">
                          <input class="file-chooser__input" type="file" multiple>
                        </div>
                        <div class="file-uploader__submit-button  text-center"  value="Upload">UPLOAD FILES HERE </div>
                    </div>
                </div>

            </div>
            <center class="mt-5">
                <button  class="btn btn-primary mt-3 waves-effect waves-light col-5 " onclick="return add_task_submit_event(this)"> CREATE TASK </button>
            </center>           
        </form>
        <!--<button onclick="content()">Get content</button><br>-->

    </div>
{% endblock main_code %}
{% block java_script %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.3.7/jquery.datetimepicker.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.3.7/jquery.datetimepicker.min.js"></script>
    <script type="text/javascript">
        

        function content() {
        alert(tinyMCE.get('myTextArea').getContent());
        tinyMCE.get('myTextArea').setContent("<p>Testing 123</p>")
    }

    </script>
    <script>
        window.onload = create_calendar_input()
        function create_calendar_input(){
            $(".date_picker_class").each(
                function(){
                    $(this).datetimepicker({ 
                        showSecond: false,
                        changeYear: true ,
                        changeMonth: true,
                        yearRange: "-120:+40",
                    })
                }
            )
        }
    </script>
    <script src="{% static 'others/file_upload/file_upload.js' %}"></script>
    <script src="{% static 'others/add_task.js' %}"></script>
    <script src="{% static 'others/slider.js' %}"></script>
{% endblock java_script %}